<div class="container">
  <h1 class="topHeader">GITHUB USER SEARCH</h1>

  <div class="row">
    <div class="col">
      <div class="card frontPart">
        <div class="card-header topPart">
          <h2 class="secondHeader">Search Github</h2>
        </div>
        <div class="card-body">
          <form >
            <div class="form-group">
              <input type="text" name= "username" class="form-control" placeholder="Enter your Github name" [(ngModel)] ="username" (keyup)="searchUser()">
              <button type="submit" class="btn  mainButton">SEARCH</button>
            
            </div>
          </form>
        </div>

      </div>

    </div>
  </div> 

</div>
<div class="container-fluid ">
  <div class="row picPart">
    <div class="col-md-3 ">
      <div class="card">
        <img src="{{github.avatar_url}}" alt="" class="picOne">
        <h3 class="card-title">{{github.name}}</h3>
        <p class="card-text">{{github.bio}}</p>
        <a href="{{ github.html_url}}" class="btn btn-dark" target="_blank" >User's Profile on Github</a>
      
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <button type="button" class="btn btn-primary buttonSpacing">{{github.followers}} Followers</button>
          <button type="button" class="btn btn-success buttonSpacing">{{github.public_repos}} Repositories</button>
          <button type="button" class="btn btn-warning buttonSpacing">{{github.public_gists}} Gists</button>
          <button type="button" class="btn btn-danger buttonSpacing">{{github.following}} Following</button>
        </div>

       <div class="card-body">
         <ul class="list-group">
           <li class="list-group-item">
              Username: <span class="font-weight-bold">{{github.name}}</span>
            </li>
            <li class="list-group-item">
              Location:{{github.location}}
            </li>
            <li class="list-group-item">
              Email:{{github.email}}
            </li>
            <li class="list-group-item">
              Company:{{github.company}}
            </li>
            <li class="list-group-item">
              Member since:{{github.created_at| date}}
            </li>
            <li class="list-group-item">
              Profile Url:{{ github.html_url}}
            </li>
          </ul>
        </div>
      </div>  
    </div>
  </div>

  <div class="row repost">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
         <h4>Github Repositories</h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item reposDisplay" *ngFor = 'let repo of repos' >
              {{repo.name}} <a href="{{ github.html_url}}" class="font-weight-bold text-primary" target="_blank">View the project</a>
             <span></span>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  

</div>


<!-- <div *ngIf="github">
  <div class = "card ">
    <div class="card-header">
      {{github.name}} <small>{{github.login}}</small>
       works at {{github.company}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img src="{{github.avatar_url}}" alt="">
        </div>
        <div class="col-md-3">
          <ul class="list-group">
            <li class = "list-group-item" *ngIf = "github.bio">{{github.bio}}</li>

          </ul>

        </div>
        <div class="col-md-5">
          <div class="card-header">
          
              <span class="tag tag-default">{{github.followers}} Followers</span>
              <span class="label label-default">Following {{github.followers}}</span>
              <span class="label label-default">Repositories{{github.public_repos}}</span>

              
          </div>
          <p><a href="{{ github.html_url}}" target="_blank" class="btn btn-primary"> View the Users Profile</a></p>
        </div>
      </div>

    </div>

  </div>

  <div class="card">
    <div class="card-header bg-secondary ">
      <h2>Github Repositories</h2>

    </div>
    <div class="card-body" *ngFor = 'let repo of repos'>
      {{repo.name}} <a href="{{ repo.html_url}}" class="btn btn-success" target="_blank">View the project </a>
      <p>{{repo.description}}</p>
    </div>

  </div>




</div> -->




<!-- <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <h2>Github User Search</h2>
        </div>
        <div class="card-body">
          <form >
            <div class="form-group">
              <input type="text" name= "user" class="form-control" placeholder="Enter your Github name"><br>
              <button type="submit" class="btn btn-primary">SEARCH</button>
            
            </div>
          </form>
        </div>

      </div>

    </div>
  </div> -->

<!-- 
  <div class="row">
    <div class="col">
    {{github.name}}<br>
    works at {{github.login}}
    </div>
  </div> -->