@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.frontPart{
  margin-right: 10%;
  margin-left: 10%;
  box-shadow: 3px 3px 3px 3px #000000;
}
.topPart{
  background-color: #FFA701 ;
  color: #000000;
}
.topHeader{
  text-align: center;
  font-family: 'Rampart One', cursive;
}
.secondHeader{
 font-weight: bold;
}
.mainButton{
 margin-top: 1%;
 background-color: #000000;
 color: #ffffff;
 font-weight: bold;
}
.container-fluid{
  margin-top: 2%;
}
.picPart{
  margin-left: 2% ;
  margin-right: 2%;
}
.picOne{
  width: 265px;
}
.buttonSpacing{
margin-right: 1%;
}
.repost{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
.reposDisplay{
  display: flex;
  justify-content: space-between;
  align-items: center;
}